@using NasSeminarski.Models
@model NasSeminarski.Areas.ModulRecepcioner.Controllers.RezervacijeController.UrediVM
<br />
<h2 style="color:darkred"><b>UNESITE PODATKE O REZERVACIJI</b></h2>
<br />


@using (Html.BeginForm("Snimi", "Rezervacije"))
{
    @Html.HiddenFor(model => model.Id)


    <div class="form-group"style="color:green">
        <label>Datum prijave</label>
        @Html.TextBoxFor(model => model.DatumPrijave, new { @class = "form-control"})
    </div>

    <div class="form-group" style="color:green">
        <label>Datum odjave</label>
        @Html.TextBoxFor(model => model.DatumOdjave, new { @class = "form-control" })
    </div>
    
    <div class="form-group" style="color:green">
        <label>Broj sobe</label>
        @Html.DropDownListFor(model => model.sobaId, Model.SobaStavke, new { @class = "form-control" })
    </div>
    <div class="form-group" style="color:green">
        <label>Korisnik</label>
        @Html.DropDownListFor(model => model.korisnikId, Model.KorisnikStavka, new { @class = "form-control" })
    </div>
    @*<div class="form-group">
        <label>Racun</label>
        @Html.TextBoxFor(model => model.Iznos, new { @class = "form-control" })
    </div>*@

    <div>
        @Html.ValidationSummary()
    </div>
    <input type="submit" value="Snimi" class="btn btn-denger" />
}

